@import "../../../../../variables.scss";

.valueIcon {
    display: flex;
    align-items: center;
    input {
        padding: 0;
        padding: 0.2rem 0.5rem;
    }
    div {
        margin: 0;
        min-width: 10rem;
        font-size: 0.875rem;
    }
}
